<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder
            location="classpath:application.properties"></context:property-placeholder>

    <!-- Define your Beans here -->
    <bean id="margherita" class="com.agency04.sbss.pizza.model.Margherita"></bean>
    <bean id="marinara" class="com.agency04.sbss.pizza.model.Marinara"></bean>

    <bean id="pizzeria" class="com.agency04.sbss.pizza.model.Pizzeria">
        <property name="name" value="pizzeria"></property>
        <property name="address" value="Pizzeria address"></property>
    </bean>
    <bean id="pizzaDelivery" class="com.agency04.sbss.pizza.model.PizzaDelivery">
        <constructor-arg ref="pizzeria"></constructor-arg>
    </bean>

    <bean id="pizzeria2" class="com.agency04.sbss.pizza.model.Pizzeria2">
        <property name="name" value="${pizzeria2.name}"></property>
        <property name="address" value="${pizzeria2.address}"></property>
    </bean>
    <bean id="pizzaDelivery2" class="com.agency04.sbss.pizza.model.PizzaDelivery2">
        <property name="pizzeriaService" ref="pizzeria2"></property>
    </bean>
</beans>